<p>Please Sign Up </p>
<mat-card>
<form (submit)= "onSignup(signupForm)"  class = "login" name = "login" #signupForm="ngForm" >
 <br>
 <mat-form-field>
 <input matInput type ="text" ngModel name="enteredUserName"
 placeholder ="User Name"
 required
 minlength="3"
 pattern ="^[a-zA-Z0-9\s_-]+$"
 #enteredUserName ="ngModel"/>
 <mat-error *ngIf= "enteredUserName.invalid">{{enteredUserNameError}}</mat-error>
</mat-form-field >
<br>
 <mat-form-field>
 <input matInput type ="email"
 pattern ="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
 ngModel name ="enteredEmail"
 placeholder="Email Adrress" required
 #enteredEmail ="ngModel"/>
 <mat-error *ngIf= "enteredEmail.invalid">{{enteredEmailError}}</mat-error>
 </mat-form-field>
 <br>
 <mat-form-field>
 <input matInput type ="password" pattern ="^([a-zA-Z0-9@*#]{8,15})$"
 ngModel name ="enteredPassword"
 placeholder="Password" required
 #enteredPassword ="ngModel"/>
 <mat-error *ngIf= "enteredPassword.invalid">{{enteredPasswordError}}</mat-error>
</mat-form-field>
 <br>
<button mat-raised-button color="primary" type = "submit" >Sign Up</button>
</form>
</mat-card>
<hr>

<!--(submit)=”onSignup(signupForm)” -->
