<!-- ALL REFERENCING for styling of components can be found in the README or supporting word document-->

<p>Please Sign Up </p>
<mat-card>
<form (submit)= "onSignup(signupForm)"  class = "login" name = "login" #signupForm= "ngForm" >
 <br>
 <mat-form-field>
 <input matInput type ="text" ngModel name="enteredUserName"
 placeholder ="User Name"
 required
 minlength="3"
 pattern ="^[a-zA-Z0-9\s_-]+$"
 #enteredUserName ="ngModel"/><!-- the regex pattern specifies an acceptable input, ive set the min length to three to accomodate short names -->
 <mat-error *ngIf= "enteredUserName.invalid">{{enteredUserNameError}}</mat-error><!--this outputs an error message if input is invalid-->
</mat-form-field >
<br>
 <mat-form-field>
 <input matInput type ="email"
 pattern ="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
 ngModel name ="enteredEmail"
 placeholder="Email Adrress" required
 #enteredEmail ="ngModel"/><!-- the regex pattern specifies an acceptable input -->
 <mat-error *ngIf= "enteredEmail.invalid">{{enteredEmailError}}</mat-error><!--this outputs an error message if input is invalid-->
 </mat-form-field>
 <br>
 <mat-form-field>
 <input matInput type ="password" pattern ="^([a-zA-Z0-9@*#]{8,15})$"
 ngModel name ="enteredPassword"
 placeholder="Password" required
 #enteredPassword ="ngModel"/><!-- the regex pattern specifies an acceptable input -->
 <mat-error *ngIf= "enteredPassword.invalid">{{enteredPasswordError}}</mat-error><!--this outputs an error message if input is invalid-->
</mat-form-field>
 <br>
<button mat-raised-button color="primary" type = "submit" >Sign Up</button>
<br>
<br>

<p *ngIf= "showSuccessMessage">User created , go to Login page to log in</p>

</form>
</mat-card>
<hr>


