<main>
  <div style="text-align: center;">
  <h1>
  The National Inter-Departmental Bulletin Board System
  </h1>

  <nav>
    <button mat-button color="primary" [routerLink]= "['/create']"
    routerLinkActive= "router-link-active" >Create post</button>
    <button mat-button color="primary" [routerLink]= "['/create']"
    routerLinkActive= "router-link-active" >Edit Post</button>
    <button mat-button color="primary" [routerLink]= "['/']"
    routerLinkActive= "router-link-active" >List Posts</button>
    <button mat-button color="primary" [routerLink]= "['/login']"
    routerLinkActive= "router-link-active" >Login</button>
    <button mat-button color="primary" [routerLink]= "['/signup']"
    routerLinkActive= "router-link-active" >Sign Up</button>
  </nav>
  <br>
  <router-outlet></router-outlet>


<!--
  <app-bulletin-create ></app-bulletin-create>
  <app-bulletin-posted ></app-bulletin-posted>
-->
</div>
</main>

