<!--AQEEL ABADER 18008885 APDS7311 TASK 2-->

<!-- ALL REFERENCING for styling of components can be found in the README or supporting word document-->
<div class="background"><!-- creates the styling of the background -->
<main><!--contains the actual pages -->
  <div style="text-align: center;">
  <div class="header">
    <h1>
    National Inter-Departmental Bulletin Board System
  </h1></div>
  <div>
  <nav class="navdiv"><!-- navigation to get where u need to be-->
    <button mat-stroked-button color="primary" [routerLink]= "['/']"
    routerLinkActive= "router-link-active" >Home</button>
    <button mat-button color="primary" [routerLink]= "['/create']"
    routerLinkActive= "router-link-active" >Post Bulletin</button>
    <button mat-button color="primary" [routerLink]= "['/list']"
    routerLinkActive= "router-link-active" >Recent Bulletins</button>
    <button mat-button color="primary" [routerLink]= "['/login']"
    routerLinkActive= "router-link-active" >Login</button>
    <button mat-button color="primary" [routerLink]= "['/signup']"
    routerLinkActive= "router-link-active" >Sign Up</button>
  </nav>
</div>
  <br>
  <router-outlet></router-outlet><!-- moves to the appropreate page using the routing based on the link clicked-->
</div>
</main>

</div>
