<br>
<br>
<p>Click on a Bulletin below to expand it</p>
<!--AQEEL ABADER 18008885 APDS7311 TASK 2-->

<!-- ALL REFERENCING for styling of components can be found in the README or supporting word document-->

<br>
<mat-accordion multi="true" *ngIf= "bulletins.length >0">
  <mat-expansion-panel *ngFor= "let post of bulletins">
    <!-- displaying all the bulletins stored in the database -->
    <mat-expansion-panel-header
      aria-placeholder="User Name">
      {{post.userName}}
    </mat-expansion-panel-header>
    {{post.emailAddress}}
    <br>
    {{post.bulletinDetails}}
    <mat-action-row>
      <button mat-button color="primary">edit</button> <!-- this doesent work as planned -->
      <button mat-button color="warn" (click)= "onDelete(post.id)" >delete</button> <!-- this doesent work as planned -->
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p *ngIf= "bulletins.length ==0">No bulletin posts Created Yet</p><!-- dissappears when bulletins are found -->
<!--  -->
