<!-- ALL REFERENCING for styling of components can be found in the README or supporting word document-->

<br>
<br>
<br>
<br>
<br>
<!--this is just a welcome page for anyone who may not know how to use the application -->

<h2>Welcome to the National Inter-Departmental Bulletin Board System</h2>
<br>
<br>

<h3>To see a list of the most recent bulletin posts, please click the "Recent Bulletins" button below:</h3>
<button mat-raised-button color="primary" [routerLink]= "['/list']"
    routerLinkActive= "router-link-active" >Recent Bulletins</button>
<br>
<br>
<h3>To post a new bulletin, please click the "Post Bulletin" button below: (you need to be logged in to post new bulletins)</h3>
<button mat-raised-button color="primary" [routerLink]= "['/create']"
    routerLinkActive= "router-link-active" >Post Bulletin</button>

<br>
<br>
<h3>To log in , please click "Login" below, or click "Sign up" if you have not signed up to use this application yet</h3>
<button mat-raised-button color="primary" [routerLink]= "['/login']"
    routerLinkActive= "router-link-active" >Login</button>
    <button mat-raised-button color="primary" [routerLink]= "['/signup']"
    routerLinkActive= "router-link-active" >Sign Up</button>
<br>
<br>
<h3>you can return to this page at any time by clicking the "Home" link in the navigation menu!</h3>
